.label {
    color: var(--accent-dark);
    padding: 64px !important;
    border-radius: var(--radius);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
