* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

body {
    padding: 20px;
}
body,button {
    font-size: 24px;
}

.app {

    --accent-dark: #5500ff;
    --accent-light: #eee5ff;
    --border: 1px solid #0002;
    --radius: 10px;
    --padding-big: 20px;
    --padding-small: 10px;
    border-radius: 5px;
    box-shadow: 3px 7px 64px #0002;
    display: flex;
    flex-direction: column;

}

.app>* {
    padding: var(--padding-small);
}

.app>*:not(:last-child) {
    border-bottom: var(--border);
}
