.button {
    background: none;
    outline: none;
    border: none;
    color: var(--accent-dark);
    padding: 5px 20px;
    border-radius: var(--radius);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.button:hover:not([disabled]) {
    background: var(--accent-light);
}

.button[disabled] {
    opacity: 0.3;
    cursor: not-allowed;
}
