.filesList {
    --iconSize: 64px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.item {
    display: grid;
    grid-template-columns: auto 1fr;
    border-radius: var(--radius);
}

.item:hover {
    background: var(--accent-light);
}

.file {
    grid-template-areas: "icon name"
                         "icon size";
}

.folder {
    grid-template-areas: "icon name";
}

.select {
    background: none;
    outline: none;
    border: none;
    cursor: pointer;
}

.selected {
    color: var(--accent-dark);
}

.unselected {

}

.icon {
    width: var(--iconSize);
    height: var(--iconSize);
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    grid-area: icon;
}

.name {
    grid-area: name;
    border: none;
    outline: none;
    background: none;
    text-align: left;
    cursor: pointer;
}

.name:hover {
    color: var(--accent-dark);
}

.size {
    grid-area: size;
    font-size: 0.8em;
    opacity: 0.6;
}
